// @import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('//db.onlinewebfonts.com/c/503650e3d5bb7266bdd49b49b9d96162?family=EXCELSIOR+SANS');
@import url('//db.onlinewebfonts.com/c/eccb7a74720fc377b60d6b2110530fd9?family=DejaVu+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    // height: 100%;
}

body {
    color: white;
    text-align: center;
    font-family: "DejaVu Mono", serif;
    // font-family: "EXCELSIOR SANS";
    // overflow-y: auto;
    display: block;
    //background: linear-gradient(210deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 50%, rgba(0, 0, 0, 1) 100%), linear-gradient(30deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 50%, rgba(0, 0, 0, 1) 100%), url('/img/perm-background.jpg');
    // opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: relative;
}

body::after {
    content: '';
    background: linear-gradient(210deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 50%, rgba(0,0,0,1) 100%), linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 50%, rgba(0,0,0,1) 100%), url('/img/perm-background.jpg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -9999;
    overflow: hidden;
}

.content-style {
    position: relative;
    background-position: center;
    display: block;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.8s;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content-section-style.in-view {
    animation: fadeInCustom 0.2s ease-in;
}

.content-section-style.out-view {
    animation: fadeOutCustom 0.1s ease-out;
}

.content-style::-webkit-scrollbar {
    display: none;
}

.content-section-style {
    margin: auto;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    top: 0;
    transition-timing-function: linear;
    z-index: 1;
}

.border-image {
    position: fixed;
    height: 100vh;
    max-width: 2rem;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Youtube */
.fa-youtube-play {
    background: red;
    color: white;
}

@media only screen and (min-width: 54em) {
    .border-image {
        max-width: 3rem;
    }
}

@keyframes fadeInCustom {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.3;
    }
    20% {
        opacity: 0.4;
    }
    20% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutCustom {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}
